@import "./reset";
@import "./variables/global";
@import "./themes/light";
@import "./themes/dark";

.app {
	font: var(--font-m);
	background: var(--bg-color);
	color: var(--primary-color);
	min-height: 100vh;
	display: grid;
	grid-template-areas:
		'header  header'
		'nav    content';
	grid-template-rows: auto 1fr;
	grid-template-columns: auto 1fr;
}