.root {
	color: inherit;
	height: 40px;
	min-width: 40px;
	padding: 0 8px;
	cursor: pointer;
}

.clear {
	background-color: transparent;
	border: none;
}

.outline {
	padding: 8px 16px;
	border: 1px solid var(--primary-color);
	color: var(--primary-color);
	background: none;
	border-radius: 8px;
}
