.root {
	display: grid;
	place-items: center;
	color: inherit;
	padding: 4px 12px;
	cursor: pointer;
	border-radius: 8px;
}

.size-s {
	height: var(--font-line-s);
	min-width: var(--font-line-s);
	font: var(--font-s);
}

.size-m {
	height: var(--font-line-m);
	min-width: var(--font-line-m);
	font: var(--font-s);
}

.size-xl {
	height: 48px;
	min-width: 48px;
	font: var(--font-m);
}

.icon {
	height: 40px;
	width: 40px;
	padding: 4px;
	min-width: auto;

	&.size-s {
		width: var(--font-line-s);
		height: var(--font-line-s);
		font: var(--font-s);

		svg {
			width: 16px;
			height: 16px;
		}
	}

	&.size-m {
		width: var(--font-line-m);
		height: var(--font-line-m);
		font: var(--font-m);

		svg {
			width: var(--font-line-s);
			height: var(--font-line-s);
		}
	}

	&.size-xl {
		width: var(--font-line-xl);
		height: var(--font-line-xl);
		font: var(--font-xl);

		svg {
			width: var(--font-line-s);
			height: var(--font-line-s);
		}
	}
}


.primary {
	background-color: var(--primary-color);
	color: var(--inverted-primary-color);
}

.clear {
	background-color: transparent;
	padding: 0;
	border: none;
}

.outline {
	border: 1px solid var(--primary-color);
	color: var(--primary-color);
	background: none;
}

.inverted {
	background: var(--inverted-bg-color);
	color: var(--inverted-primary-color);
}
