.root {
	display: grid;
	align-content: space-between;
	width: 80px;
	background: var(--inverted-bg-color);
	transition: width .3s ease-in-out;
	padding: 0 10px 20px;
	grid-area: nav;
	position: relative;
}

.switchers {
	justify-self: end;
	display: grid;
	align-items: center;
	justify-content: center;
	gap: 10px;
}

.open {
	width: 300px;

	.switchers {
		display: flex;
	}
}

.button {
	position: absolute;
	bottom: 40px;
	right: -40px;

	svg {
		height: 20px;
		width: 20px;
	}
}