.app.light {
  --bg-color: #e8e8ea;
  --inverted-bg-color: #05054d;

  --primary-color: #21e00b;
  --secondary-color: #0449e0;
  --inverted-primary-color: #7284be;
  --inverted-secondary-color: #066b02;
}